/* Navbar Styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #f2f2f2e8;
    position: fixed; 
    top: 8px;
    left: 10px;
    width: 96%;
    border-radius: 16px;
    z-index: 1000;
  }

  header .logo {
    font-size: 24px;
    font-weight: bolder;
    color: #36A8F0;
  }

  header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
  }

  header .cta {
    background-color: #ffae00;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    font-weight: bolder;
    cursor: pointer;
  }